<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	</head>
	<body>
		<script>
var docCookies = {
	getItem: function (sKey) {
		if (!sKey) { return null; }
		return decodeURIComponent(document.cookie.replace(new RegExp("(?:(?:^|.*;)\\s*" + encodeURIComponent(sKey).replace(/[\-\.\+\*]/g, "\\$&") + "\\s*\\=\\s*([^;]*).*$)|^.*$"), "$1")) || null;
	},
	setItem: function (sKey, sValue, vEnd, sPath, sDomain, bSecure) {
		if (!sKey || /^(?:expires|max\-age|path|domain|secure)$/i.test(sKey)) { return false; }
		var sExpires = "";
		if (vEnd) {
			switch (vEnd.constructor) {
				case Number:
					sExpires = vEnd === Infinity ? "; expires=Fri, 31 Dec 9999 23:59:59 GMT" : "; max-age=" + vEnd;
					break;
				case String:
					sExpires = "; expires=" + vEnd;
					break;
				case Date:
					sExpires = "; expires=" + vEnd.toUTCString();
					break;
			}
		}
		document.cookie = encodeURIComponent(sKey) + "=" + encodeURIComponent(sValue) + sExpires + (sDomain ? "; domain=" + sDomain : "") + (sPath ? "; path=" + sPath : "") + (bSecure ? "; secure" : "");
		return true;
	},
	removeItem: function (sKey, sPath, sDomain) {
		if (!this.hasItem(sKey)) { return false; }
		document.cookie = encodeURIComponent(sKey) + "=; expires=Thu, 01 Jan 1970 00:00:00 GMT" + (sDomain ? "; domain=" + sDomain : "") + (sPath ? "; path=" + sPath : "");
		return true;
	},
	hasItem: function (sKey) {
		if (!sKey) { return false; }
		return (new RegExp("(?:^|;\\s*)" + encodeURIComponent(sKey).replace(/[\-\.\+\*]/g, "\\$&") + "\\s*\\=")).test(document.cookie);
	},
	keys: function () {
		var aKeys = document.cookie.replace(/((?:^|\s*;)[^\=]+)(?=;|$)|^\s*|\s*(?:\=[^;]*)?(?:\1|$)/g, "").split(/\s*(?:\=[^;]*)?;\s*/);
		for (var nLen = aKeys.length, nIdx = 0; nIdx < nLen; nIdx++) { aKeys[nIdx] = decodeURIComponent(aKeys[nIdx]); }
		return aKeys;
	}
};

function callAjax (url, method, callback, post, fallback) {
	var xmlhttp;
	post = post || '';
	xmlhttp = new XMLHttpRequest();
	xmlhttp.onreadystatechange = function() {
		if (xmlhttp.readyState == 4) {
			if (xmlhttp.status == 200) {
				callback(xmlhttp.responseText);
			} else {
				fallback(xmlhttp.responseText);
			}
		}
	}
	if (method == 'GET') {
		xmlhttp.open('GET', url, true);
		xmlhttp.send();
	}
	else if (method == 'POST') {
		xmlhttp.open("POST", url, true);
		xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
		xmlhttp.setRequestHeader("X-CSRFToken", docCookies.getItem('csrftoken'));
		xmlhttp.send(post);
	}
}

function insertAfter (newNode, referenceNode) {
	referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
}
		</script>
	</body>

	<div>
		{% if user.is_authenticated%}
			<p>Logged in as {{ user }}</p>
		{% else %}
			<p>Not logged in</p>
		{% endif %}

		<p>There's <code>callAjax</code> JS function for your convenience of testing this application</p>
		<p><code>function callAjax (url, method, callback, post, fallback)</code></p>
		<ul>
			<li><code>url</code>: Url to call</li>
			<li><code>method</code>: Method to use</li>
			<li><code>callback</code>: Function to call on successfull AJAX request</li>
			<li><code>post</code>: urlencoded POST parameters</li>
			<li><code>fallback</code>: Function to call on failed AJAX request</li>
		</ul>

		<p> Example:<br>
			<code>callAjax('https://herolo-test1.herokuapp.com/read', 'POST', function(e) {console.log(JSON.parse(e))}, 'uuid=b827dfc5-436f-436e-8e56-2153ea5b4c5a')</code>
		</p>

		<a href="/admin">Admin panel</a>
	</div>

</html>
